# 忽略環境變數檔 (裡面有密碼！)
.env

# 忽略 Python 編譯檔
__pycache__/
*.pyc

# 忽略資料庫 (通常雲端會有自己的資料庫，或是你希望上傳但不希望被覆蓋，看策略)
# 如果你是用 Render 免費版，因為它會定時重置硬碟，
# 上傳 ncu_market.db 可以讓初始有資料，但之後的資料會存不住 (這是免費版宿命)。
# 暫時先不忽略 db，讓你方便測試。
# *.db

# 忽略虛擬環境 (如果你有建 venv)
venv/
env/